@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #e3edf7;
    --bg-gradient-color: linear-gradient(180deg, rgb(42, 1, 247) 0%, rgb(8, 119, 160) 51%, rgba(99, 13, 178, 1) 100%);
    --font-color: #90979f;
    --main-color: #e6006d;
    --accent-color: rgb(137, 53, 216);
    --dark-color: #012040;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: var(--dark-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    padding: 15px 8%;
    width: 100%;
    background: #efeaeae8;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

header .logo {
    font-size: 2rem;
    font-weight: 700;
    background: var(--accent-color);
    -webkit-background-clip: text;
    color: transparent;
}

ul.navbar {
    display: flex;
}

.navbar li {
    margin: 0 1.5rem;
}

.navbar li a {
    font-weight: 600;
}

.navbar li a:hover,
.navbar li a.active {
    font-weight: 900;
    background: var(--accent-color);
    -webkit-background-clip: text;
    color: transparent;
}

button.contact-btn {
    background: var(--accent-color);
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 900;
    transition: all .3s;
}

.contact-btn a {
    color: #fff;
    font-weight: 600;
}

.contact-btn:hover a {
    color: var(--accent-color);
}

.contact-btn:hover {
    background: var(--dark-color);
    cursor: pointer;
}

/* Home Section */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}

.main-info {
    flex: 1;
}

.main-info h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
}

.main-info p {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font-color);
}

.profile-img {
    flex: 1;
    text-align: right;
}

.profile-img img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.social-media-box {
    margin: 2rem 0;
    display: flex;
    font-size: 3rem;
    gap: 1rem;
}
.social-media-box a {
    margin-right: 20px;
    font-size: 2rem;
    color: var(--font-color);
    transition: color .3s;
}

.social-media-box a:hover {
    color: var(--accent-color);
}

.contact-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-box button {
    margin-right: 15px;
}

/* Skills Section */
.skills-section {
    padding: 60px 8%;
    height: 93vh;
    background: var(--bg-color);
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--dark-color);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.technical-skills,
.soft-skills {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.technical-skills h3,
.soft-skills h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-align: center;
}

.skill {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.skill-icon {
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 10px;
}

.skill h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-color);
}

/* Education Section */
.education-section {
    padding: 60px 8%;
    height: 100vh;
    background: var(--bg-color);
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.education-card h3 {
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}

.education-card p {
    font-size: 1rem;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.education-card span {
    font-size: 0.9rem;
    color: var(--font-color);
}

/* Experience Section */
.experience-section {
    padding: 60px 8%;
    /* height: 100vh; */
    background: var(--bg-color);
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 900px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.experience-card:hover {
    transform: translateY(-5px);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.experience-header h3 {
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}

.experience-header p,
.experience-header span {
    font-size: 1rem;
    color: var(--font-color);
}

.experience-details ul {
    list-style-type: none;
    padding: 0;
}

.experience-details ul li {
    font-size: 1rem;
    color: var(--dark-color);
    margin-bottom: 10px;
    position: relative;
}

.experience-details ul li::before {
    content: "\2022"; /* Bullet point */
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 0;
}

/* Portfolio Section */
.portfolio-section {
    padding: 60px 8%;
    background: var(--bg-color);
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin-bottom: 40px;
}

/* Portfolio Section */
.portfolio-section {
    padding: 60px 8%;
    height: 100vh;
    background: var(--bg-color);
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33.333% - 20px);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-card img {
    width: 100%;
    height: 265px;
    object-fit: cover;
}

.portfolio-content {
    padding: 20px;
    text-align: center;
}

.portfolio-content h3 {
    font-size: 1.5rem;
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}

.portfolio-content p {
    font-size: 1rem;
    color: var(--font-color);
}

@media (max-width: 768px) {
    .portfolio-card {
        max-width: 90%;
    }
}


@media (max-width: 768px) {
    .experience-card {
        width: 90%;
    }
}


@media (max-width: 768px) {
    header {
        padding: 15px 5%;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        text-align: center;
        margin-top: 20px;
    }

    .profile-img img {
        width: 300px;
        height: 300px;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }
}
